<h1>Welcome to Mr.Coffee schedule management system</h1>
<h2>Mr.Coffee schedules</h2>
<div class="table schedule-table">
  <div class="table-title">User ID</div>
  <div class="table-title">Name</div>
  <div class="table-title">Schedule ID</div>
  <div class="table-title">Day</div>
  <div class="table-title">Start time</div>
  <div class="table-title">End time</div>
  <%for(let i=0; i < schedules.length; i++) {%>
    <div class="table-field"><%= schedules[i].user_id%></div>
    <div class="table-field"><a href="<%= `users/:${schedules[i].user_id}`%>"><%= `${schedules[i].firstname} ${schedules[i].lastname}`%></a></div>
    <div class="table-field"><%= schedules[i].schedule_id%></div>
    <div class="table-field"><%= schedules[i].day%></div>
    <div class="table-field"><%= schedules[i].start_time%></div>
    <div class="table-field"><%= schedules[i].end_time%></div>
  <%}%>
</div>