<h2>User profile</h2>
<div class="table user-table">
  <div class="table-title">User ID</div>
  <div class="table-title">First name</div>
  <div class="table-title">Last name</div>
  <div class="table-title">Email</div>
  <div class="table-field"><%= rows[0].user_id%></div>
  <div class="table-field"><%= rows[0].firstname%></div>
  <div class="table-field"><%= rows[0].lastname%></div>
  <div class="table-field"><%= rows[0].email%></div>
</div>

<h2>User schedules</h2>
<div class="table user-schedule-table">
  <div class="table-title">Schedule ID</div>
  <div class="table-title">Day</div>
  <div class="table-title">Start time</div>
  <div class="table-title">End time</div>
  <%for(let i=0; i < rows.length; i++) {%>
    <%if (rows[i].schedule_id !== null) {%>
      <div class="table-field"><%= rows[i].schedule_id%></div>
      <div class="table-field"><%= rows[i].day%></div>
      <div class="table-field"><%= rows[i].start_time%></div>
      <div class="table-field"><%= rows[i].end_time%></div>
    <%}%>
  <%}%>
</div>
