<h2>User profile</h2>
<div class="table .user-table">
  <div class="table-title">User ID</div>
  <div class="table-title">First name</div>
  <div class="table-title">Last name</div>
  <div class="table-title">Email</div>
  <div class="table-field"><%= users.user_id%></div>
  <div class="table-field"><%= users.firstname%></div>
  <div class="table-field"><%= users.lastname%></div>
  <div class="table-field"><%= users.email%></div>
</div>

<h2>User schedules</h2>
<!-- TODO: Add CSS for class .user_schedule-table -->
<div class="table .user_schedule-table">
  <div class="table-title">Schedule ID</div>
  <div class="table-title">Day</div>
  <div class="table-title">Start time</div>
  <div class="table-title">End time</div>
  <%for(let i=0; i < schedules.length; i++) {%>
    <div class="table-field"><%= schedules[i].schedule_id%></div>
    <div class="table-field"><%= schedules[i].day%></div>
    <div class="table-field"><%= schedules[i].start_time%></div>
    <div class="table-field"><%= schedules[i].end_time%></div>
  <%}%>
</div>

